* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.form-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-item label {
  margin-right: 10px;
  width: 80px; /* Или любое другое значение, чтобы выровнять по ширине */
}

.form-item input {
  flex: 1; /* Это позволит инпуту занять оставшееся пространство */
}
